@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  width: 100vw;
  height: 100vh;
}
/* some style for our app div */
#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.button {
  background-color: gray;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  margin: 0.5rem 1rem;
}
.button.super {
  padding: 0.5rem 1.5rem;
  margin: 1rem 1.5rem;
  font-size: 2rem;
}
.button:hover {
  cursor: pointer;
}
.primary {
  background-color: blueviolet;
  color: white;
}
.action {
  background-color: lightseagreen;
  color: white;
}
.warning {
  background-color: darkred;
  color: white;
}
